table#table_main_DE_USER_HK_Block_1 {
    margin: 12px;
    float: left;
}

table#table_main_DE_USER_HK_Block_2 {
    margin: 12px;
    float: left;
}

table#table_image_ANALYSIS_IMAGES_Block_images {
    margin: 12px;
    float: left;

    // position: absolute;
    // left: 300px;
    // top: 12px
}
