body {
    background-color: #000;
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 12pt;
}

img {
    background-color: #FFF;
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 12pt;
}

.error {
    color: #F00;
}

.warning {
    color: #FF0;
}

.safe {
    color: #0F0;
}

.int {
    text-align :right;
}

.float {
    text-align :right;
}

div#main_tables {
    position: relative;
}

table {
    float: left;
    margin: 8px;
}

.display_old {
position:relative;
}

.display_new {
position:relative;
}

.display_old .image_old {
position:absolute;
top:0;
left:0; 
visibility: visible;
}

.display_old .image_new {
//position:absolute;
//top:0;
//left:0; 
visibility: hidden;
}

.display_new .image_old {
//position:absolute;
//top:0;
//left:0; 
	visibility: hidden;
}

.display_new .image_new {
position:absolute;
top:0;
left:0; 
visibility: visible;
}
