body {
    background-color: #000;
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 11pt;
}

h1 {
    text-align: center;
    font-size: 14pt;
    padding: 0.25em;
    border-bottom: solid 1px #AAA;
}

h2 {
    font-size: 11pt;
}

#control-section {
    float: left;
    width: 50%;
    padding: 0.5em;
    background-color: #224;
    color: #99A;
}

#control-section form {
    margin: 0.5em;
}

input#time0 { width: 4em; }
input#time1 { width: 2.8em; }
input#time2 { width: 2.8em; }
input#time3 { width: 2.8em; }
input#time4 { width: 2.8em; }
input#time5 { width: 2.8em; }

#log-section {
    float: left;
    width: 45%;
    padding: 0.5em;
    background-color: #242;
    color: #9A9;
}

#log-section #log {
    padding: 0.5em;
}

#data-section {
    clear: left;
    padding: 0.5em;
}

img {
    background-color: #FFF;
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 12pt;
}

.status-error {
    color: #F00;
}

.status-warning {
    color: #FF0;
}

.status-safe {
    color: #0F0;
}

.type-int {
    text-align :right;
}

.type-float {
    text-align :right;
}

div#main-tables {
    position: relative;
}

#main-tables table {
    float: left;
    margin: 8px;
}

.display_phase0 {
    position: relative;
}

.display_phase0 .image_old {
    visibility: visible;
}

.display_phase0 .image_new {
    position: absolute;
    top: 0;
    left: 0; 
    visibility: hidden;
}

/*.drag_box {
    width:450px;
    height:350px;
    border:1px #999 solid;
    background-color:#000000;
}
*/
.graph_shown {
    color: #F0F;
}

.graph_ready {
    color: #0FF;
}
