body {
    background-color: #000;
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 12pt;
}

img {
    color: #FFF;
    padding: 1em;
    font-family: monospace;
    font-size: 12pt;
}

.error {
    color: #F00;
}

.warning {
    color: #FF0;
}

.safe {
    color: #0F0;
}

.int {
    text-align :right;
}

.float {
    text-align :right;
}

div#main_tables {
    position: relative;
}

table {
    float: left;
    margin: 8px;
}

.display_phase0 {
    position: relative;
}

.display_phase0 .image_old {
    visibility: visible;
}

.display_phase0 .image_new {
    position: absolute;
    top: 0;
    left: 0; 
	  visibility: hidden;
}
